[submodule "SitsQ/vendor/glfw"]
	path = SitsQ/vendor/glfw
	url = https://github.com/Nick-Fanelli/glfw.git
[submodule "SitsQ/vendor/imgui"]
	path = SitsQ/vendor/imgui
	url = https://github.com/Nick-Fanelli/imgui
[submodule "SitsQ/vendor/nativefiledialog"]
	path = SitsQ/vendor/nativefiledialog
	url = https://github.com/Nick-Fanelli/nativefiledialog.git
[submodule "SitsQ/vendor/yaml-cpp"]
	path = SitsQ/vendor/yaml-cpp
	url = https://github.com/Nick-Fanelli/yaml-cpp
