[submodule "SitzQ/vendor/glfw"]
	path = SitzQ/vendor/glfw
	url = https://github.com/Nick-Fanelli/glfw.git
[submodule "SitzQ/vendor/imgui"]
	path = SitzQ/vendor/imgui
	url = https://github.com/Nick-Fanelli/imgui
[submodule "SitzQ/vendor/nativefiledialog"]
	path = SitzQ/vendor/nativefiledialog
	url = https://github.com/Nick-Fanelli/nativefiledialog.git
[submodule "SitzQ/vendor/yaml-cpp"]
	path = SitzQ/vendor/yaml-cpp
	url = https://github.com/Nick-Fanelli/yaml-cpp
[submodule "SitzQ/vendor/openal-soft"]
	path = SitzQ/vendor/openal-soft
	url = https://github.com/Nick-Fanelli/openal-soft.git
